<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BRD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>281224A41D481DE300FEC655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>284691351D5D16D2006F7225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>287422AA1D0F988300927E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>287422C11D0F988300927E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>287422CC1D0F988300927E06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
