<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ksu.cis.a4vm.bse">

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/bse_a4vm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.ksu.cis.a4vm.bse.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.ksu.cis.a4vm.bse.SettingsActivity" android:label="Settings"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.VetinfoActivity" android:label="Vet Info"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.MorphologyActivity" android:label="Morphology Config"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.Collections" android:label="Dasboard"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.EditCollections" android:label="Group"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.NewGroup" android:label="New Group"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.BullGroup" android:label="Bull Dashboard"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.BullExam" android:label="Bull Exams"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.BullInfo" android:label="Bull Info"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.MatingInfo" android:label="Sex and Mating Info"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.PhysicalParameter" android:label="Physical Parameters"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.MeasurementsTable" android:label="Measurements"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.PhysicalExam" android:label="Physical Exam"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.Motility" android:label="Motility"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.Classification" android:label="Classification"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.Comments" android:label="Comments"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.MorphologyDashboard" android:label="Morphology Dashboard"/>
        <activity android:name="edu.ksu.cis.a4vm.bse.MorphologyCount" android:label="Morphology Count"/>
    </application>

</manifest>
